*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mobile-light{
    background-image: url(./images/bg-mobile-light.jpg);
}
.mobile-dark{
    background-image: url(./images/bg-mobile-dark.jpg);
}
.desktop-light{
    background-image: url(./images/bg-desktop-light.jpg);
}
.desktop-dark{
    background-image: url(./images/bg-desktop-dark.jpg);
}

.head{
    background-size: cover;
    width: 100%;
    height: 35%;
    position: absolute;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
    padding-bottom: 70px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}
.title{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 8px;
    color: #fff;
}


.task-input{
    display: flex;
    background: white;
    box-shadow: 0px 35px 50px -15px rgba(193.64, 195.16, 213.56, 0.50);
    border-radius: 5px;
    width: 100%;
    padding: 18px 0 18px 20px;
    gap: 12px;
}
.check{
    border: 1px solid #E3E4F1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    border: none;
    background-color: transparent;
    width: 80%;
}
.input:focus{
    outline: none;
}

.task-show{
    width: 100%;
    margin-top: 16px;
    background: white;
    border-radius: 5px;
    padding: 16px 20px 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    height: 440px;
    overflow-y: auto;
}
.task-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #E3E4F1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.checkboxChild {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(85, 221, 255, 1), rgba(192, 88, 243, 1));
}

.item{
   display: flex;
   align-items: center;
   justify-content: space-between; 
   border-bottom: 1px solid #E3E4F1;
   padding-bottom: 20px;
}

.item svg:hover, .item span:hover{
    cursor: pointer;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
    background: white;
    border-radius: 5px;
    padding: 16px 20px 20px 16px;
}
.clear{
    cursor: pointer;
}













@media (min-width: 1440px) {
    .title{
        font-size: 40px;
        letter-spacing: 15px;
    }
    .input{
        font-size: 18px;
    }
    .item span{
        font-size: 18px;
    }
    .checkbox{
        width: 24px;
        height: 24px;
    }
    .filter{
        width: 50%;
        margin-top: 0;
    }
    
}